[2016-02-13 11:37] inglesp opened #10 "tox -e preview fails"
Running the preview command has suddenly stopped working for me.  (By "suddenly", I mean "sometime in the last week and I don't think I've done anything silly".)

Here's the output I get:

[code]

Here's the version of tox I'm using:

[code]

This happens with a clean .tox directory.

[2016-02-13 11:42] inglesp commented on #10
Looks like there's a new version of livereload that's causing problems.  See https://github.com/GaretJax/sphinx-autobuild/issues/40.

[2016-02-13 11:43] inglesp commented on #10
However, adding `livereload==2.4.0` to requirements.txt still causes tox to use 2.4.1:

[code]

[2016-02-13 11:46] inglesp commented on #10
Clearing out the .tox directory fixed this though.

[2016-02-13 12:10] #10 closed, assigned to nobody

[2016-03-14 11:56] inglesp opened #25 "Finish web design changes"
@hawkz is working to the [design spec](https://pyconuk-2016-internaldocs.readthedocs.org/en/latest/design-spec/).

[2016-03-14 11:56] inglesp opened #26 "Write copy for homepage"

[2016-03-14 11:56] inglesp opened #27 "Write copy for CFP page"
@evildmp has been working on this at https://github.com/PyconUK/2016.pyconuk.org/pull/2.

[2016-03-14 11:56] inglesp opened #28 "Write copy for tickets page"
This should include section about financial aid.

[2016-03-14 11:56] inglesp opened #29 "Write copy for contact page"

[2016-03-14 11:56] inglesp opened #30 "Decide on code of conduct"
The code of conduct we've used in previous years has lacked guidelines about how reports of problems will be dealt with.

It would be pragmatic to make use of a code of conduct that's battle-tested, and so I would like us to adopt PyCon US's [code of conduct](https://us.pycon.org/2016/about/code-of-conduct/)

[2016-03-14 11:56] inglesp opened #31 "Write copy for sponsorship page"

[2016-03-14 11:56] inglesp opened #32 "Get wok to do the right thing with news pages"
Currently this doesn't work.

[2016-03-14 11:56] inglesp opened #33 "Write news article launching the conference"
This is what we should be linking to when we start to publicise the conference.

[2016-03-14 11:56] inglesp opened #34 "Set up ti.to for tickets"
First, add page to internal docs documenting questions asked.

[2016-03-14 11:56] inglesp opened #35 "Investigate ti.to for financial aid"
Mock up form using ti.to that has [these questions](https://pyconuk-2016-internaldocs.readthedocs.org/en/latest/financial-aid/#proposed-questions).

[2016-03-14 11:56] inglesp opened #36 "Set up Google Form for CFP"
First, add page to internal docs documenting questions asked.

[2016-03-14 11:57] inglesp opened #37 "Set up redirect from pyconuk.org to 2016.pyconuk.org"
I think only @zeth can do this, but we need to make sure that at least somebody else (@ghickman?) has access to these settings.

[2016-03-14 22:01] zeth commented on #37
Yep @ghickman and I will be sorting this out.

On 14 March 2016 at 11:57, Peter Inglesby notifications@github.com wrote:

[2016-03-14 22:05] zeth commented on #30
It is very American, i.e. it goes on for a long time, is paranoid about sex
but says nothing about violence. Other than that seems fine. I thought our
old one was fine.

On 14 March 2016 at 11:56, Peter Inglesby notifications@github.com wrote:

[2016-03-19 00:23] inglesp commented on #34
See https://github.com/PyconUK/pyconuk-2016-internaldocs/pull/39.

[2016-03-19 10:36] inglesp commented on #36
Hi @evildmp -- when do you think you'll get the chance to look at this?  Anything I can help with?

[2016-03-19 10:36] inglesp commented on #37
Hi @zeth, @ghickman -- when do you think this'll happen?

[2016-03-19 10:42] inglesp commented on #32
For now, the simplest thing to do is to explicitly set the URL in a news page's YAML front matter.

[2016-03-19 10:42] #32 closed, assigned to inglesp

[2016-03-19 11:17] inglesp commented on #35
See https://ti.to/pyconuk/2016/with/g-qwyjfdj8c.  Feel free to create some dummy tickets.

[2016-03-19 11:17] inglesp commented on #35
@Lukasa -- what do you think?

[2016-03-19 11:18] Lukasa commented on #35
@inglesp Link doesn't work for me, shows "event not live"

[2016-03-19 11:21] inglesp commented on #35
Have made you a moderator for the ti.to account -- try again.

[2016-03-19 11:33] Lukasa commented on #35
So I think this is in principle fine. I have some concerns about wording of one of the questions:
- "Do you need a reserved ticket?" is really unclear. We need to rephrase: something like "Have you already registered for a ticket, or would you like one set aside for you until your grant is allocated?".

I'd also love to be able to provide an extended description for the first two questions to clar

[2016-03-19 11:39] inglesp opened #40 "Write copy for financial aid page"
This page will be linked to from the homepage, from the CFP, and from the tickets page.

[2016-03-19 11:39] inglesp commented on #35
Agree with concerns about wording.  Now we know what the form looks like, could you update the [internal docs](https://pyconuk-2016-internaldocs.readthedocs.org/en/latest/financial-aid/#proposed-questions) with your proposed wording?

I've created https://github.com/PyconUK/pyconuk-2016-internaldocs/issues/40 to track writing copy for the financial aid page.

[2016-03-22 08:56] inglesp commented on #37
Paging @zeth and @ghickman...

[2016-03-25 14:30] ghickman commented on #37
@zeth has kindly created a separate 123-reg account for us to use. I'll be getting this set up further some time in the next few days.

[2016-04-03 08:17] evildmp commented on #27
https://github.com/PyconUK/2016.pyconuk.org/pull/2

[2016-04-03 08:18] evildmp commented on #36
@inglesp done, ready to launch once the CFP page is published on the site.

[2016-04-05 06:47] inglesp commented on #36
Thanks @evildmp.

Some feedback on the form:
- I expect we'll want to close the CFP for posters after we close the CFP for talks.  Will this be possible?
- I've seen people get hung up on the difference between an "advanced" and an "intermediate" talk -- could we instead ask whether the talk is suitable for beginners?
- Can we add fields asking whether the session is "aimed at teachers" and "aimed

[2016-04-05 08:54] snim2 commented on #36
This is probably a very silly question, but where can I see the draft? Thanks.

[2016-04-05 17:18] inglesp opened #42 "Set up sponsorship spreadsheet"
We need to be able to track:
- Sponsor/potential sponsor's name
- Who we've been in contact with (name and email address)
- Who's leading discussions on our end
- The current status of discussions -- one of:
  - Contacted
  - Not sponsoring
  - Sponsorship agreed
  - Sponsorship received
- Date of last contact
- The agreed sponsorship package
- Any extra notes

Alternatively, we could investigate

[2016-04-05 17:18] inglesp opened #43 "Set up system for invoicing sponsors"
Assigned to @doismellburning, but you should work with Paul (who's not yet part of the GitHub team).

[2016-04-06 07:37] inglesp commented on #36
I think only @evildmp can share access to the CFP form on papercall.io.  We ought to record the questions in our documentation though, so I've created #44 which lists them.

[2016-04-09 14:04] doismellburning commented on #43
I'm assuming Paul has more context here!

[2016-04-11 13:02] snim2 commented on #43
Is there an ETA on this? Thanks.

[2016-04-11 14:07] doismellburning commented on #43
@snim2 Anything I can do for you here?

[2016-04-11 14:08] snim2 commented on #43
@doismellburning thanks; I may need to raise an invoice in the next 10 days or so (for sponsor), is that possible?

[2016-04-15 15:05] inglesp commented on #40
We still need to address https://github.com/PyconUK/2016.pyconuk.org/pull/6#discussion_r58494938 before we can launch.

[2016-04-15 18:56] inglesp commented on #27
This is done!

[2016-04-15 18:56] #27 closed, assigned to evildmp

[2016-04-15 18:56] inglesp commented on #30
Done.

[2016-04-15 18:56] #30 closed, assigned to inglesp

[2016-04-15 18:57] inglesp commented on #36
For various reasons, papercall.io seems not to be a good fit, so we have decided to use Google Forms instead.

[2016-04-16 21:38] ghickman opened #47 "Set up 2016 repo/website & tidy up last years repo"
There's a lot of minutiae popping up with making sure the repos/sites are in order, just keeping track of them in one place:
- [x] Roll `pyconuk.org` repo back to `22833ca` (pre 2016 banner)
- [x] change CNAME in `pyconuk.org` repo to point to 2015.pyconuk.org
- [x] copy 2016 holding page changes from `pyconuk.org` repo to `2016.pyconuk.org` repo
- [x] check pyconuk.org and 2016.pyconuk.org both r

[2016-04-16 21:49] ghickman commented on #37
Fixed with a [URL record](https://support.dnsimple.com/articles/url-record/) on DNSimple.

[2016-04-16 21:49] #37 closed, assigned to ghickman

[2016-04-18 10:36] inglesp opened #49 "Add documentation about how to raise invoice"

[2016-04-18 10:37] inglesp opened #50 "Set up calendar with dates for conference calls"

[2016-04-18 10:37] inglesp opened #51 "Set up shared folder on Google drive"

[2016-04-18 13:26] inglesp opened #52 "Write page for Code4Research track"
We need a page on the website about the Code4Research track.  It should act as a landing page for the track.

We will link to the page from the homepage.

It should include links to the tickets page, to the CFP, and to the financial aid page.

I suggest it goes at 2016.pyconuk.org/code4research.

[2016-04-18 13:29] inglesp opened #53 "Write page about teachers' day"
We need a page on the website about the teachers' day.

[2016-04-19 06:50] #47 closed, assigned to ghickman

[2016-04-20 09:47] #26 closed, assigned to inglesp

[2016-04-20 09:47] #28 closed, assigned to inglesp

[2016-04-20 09:47] #31 closed, assigned to inglesp

[2016-04-20 09:49] #40 closed, assigned to Lukasa

[2016-04-20 09:49] inglesp opened #54 "Add information about when financial aid closes"
See https://github.com/PyconUK/2016.pyconuk.org/pull/6#discussion_r58494938.

[2016-04-21 17:19] inglesp commented on #50
Done, see https://calendar.google.com/calendar/embed?src=v71pdcqtp2l8fet7jnqp3ufg8k%40group.calendar.google.com&ctz=Europe/London.

[2016-04-21 17:19] #50 closed, assigned to nobody

[2016-04-21 17:19] inglesp commented on #51
Done.

[2016-04-21 17:19] #51 closed, assigned to inglesp

[2016-04-21 17:38] inglesp opened #58 "Set up new mailing list for attendees to contact the committee"
For attendees (and potential attendees) to contact the committee, we should have an address that's separate to the pyconuk-adm one.

There a number of reasons for this:
- It'll allow us to keep all queries in one place, rather than
- Not everybody on the pyconuk-adm list needs/wants to keep track of every attendee request
- Some of the correspondence with attendees might not be suitable for a list

[2016-04-21 21:52] inglesp commented on #58
@evildmp has suggested pyconuk-enquiries@, which I prefer.

I'll set that up tomorrow.

[2016-04-23 12:35] inglesp commented on #58
This is done, and has been added to the website in https://github.com/PyconUK/2016.pyconuk.org/pull/11.

[2016-04-23 12:35] #58 closed, assigned to inglesp

[2016-04-25 10:30] inglesp opened #59 "Grep codebase for TODOs before going live"

[2016-04-25 10:32] #29 closed, assigned to inglesp

[2016-04-25 18:19] #53 closed, assigned to inglesp

[2016-04-25 18:38] inglesp opened #60 "Set up Google Form for financial aid"
We should use the questions identified by @Lukasa [here](https://pyconuk-2016-internaldocs.readthedocs.org/en/latest/financial-aid/#proposed-questions).

We should also ensure that people are notified by email that we have received their submission.  I have some App Script code to do this.

[2016-04-25 18:38] inglesp commented on #35
We've decided against using ti.to.  See https://github.com/PyconUK/pyconuk-2016-internaldocs/issues/60.

[2016-04-25 18:38] #35 closed, assigned to Lukasa

[2016-04-25 18:40] inglesp commented on #36
The only remaining task here is to make sure that people are emailed when their submission is accepted.  I have some App Script code to do this, which I'll set up tonight.

[2016-04-25 18:41] inglesp commented on #34
This is mostly done -- we just have to embed the form on the tickets page.

[2016-04-25 18:41] inglesp commented on #54
[We've said](https://pyconuk-2016-internaldocs.readthedocs.org/en/latest/dates/) we'll close the first tranche of applications on June 28th.

[2016-04-25 18:42] inglesp commented on #52
Hi @snim2 -- when do you think you'll get the chance to look at this?

[2016-04-25 18:56] snim2 commented on #52
I'm nearly finished with a draft and expect to be pushing a PR later tonight, apologies for the delay

[2016-04-26 08:26] #52 closed, assigned to snim2

[2016-04-26 08:41] inglesp commented on #36
@evildmp, where would you like to embed the CFP form?  There's a lot of text on http://2016.pyconuk.org/cfp/, and it's not immediately clear to me where the form should go.

[2016-04-26 08:44] inglesp commented on #60
This form is set up.

@Lukasa, where would you like the form to go on the site?

[2016-04-26 08:44] evildmp commented on #36
Let's link to the form, not embed it - they are not so nice embedded.

[2016-04-26 08:48] Lukasa commented on #60
I think we should provide it from the financial aid page, at the very top, and then make sure we're prominently linking the fin aid page from the CFP page and front page. =)

[2016-04-26 09:18] ghickman commented on #34
re @snim2's comment in 2016.pyconuk.org#22 - this is still required on the teacher and research pages.

[2016-04-26 09:29] inglesp opened #62 "Set up system for teachers to apply for bursaries"
The website says this we'll do this by May 1st, so we'd better do it by then!

[2016-04-26 09:41] inglesp commented on #59
All TODOs should be covered by the following pull requests:
- https://github.com/PyconUK/2016.pyconuk.org/pull/23
- https://github.com/PyconUK/2016.pyconuk.org/pull/24
- https://github.com/PyconUK/2016.pyconuk.org/pull/25
- https://github.com/PyconUK/2016.pyconuk.org/pull/26

[2016-04-26 10:20] ghickman opened #63 "Investigate redirecting pyconuk.net => pyconuk.org"
We'll need to host DNS with DNSimple so we can make use of a URL record.

To future me: see if you have access to pyconuk.net in 123-reg.

[2016-04-26 10:28] #59 closed, assigned to inglesp

[2016-04-26 10:29] #60 closed, assigned to inglesp

[2016-04-26 10:29] #33 closed, assigned to inglesp

[2016-04-26 10:29] #34 closed, assigned to inglesp

[2016-04-26 10:29] #36 closed, assigned to evildmp

[2016-04-26 10:29] #54 closed, assigned to inglesp

[2016-04-26 10:33] inglesp opened #65 "Check links when building website"
We've used linkchecker in the past but it was very cumbersome.

[2016-04-26 15:43] inglesp opened #66 "Contact hotels regarding preferential rate for conference"
Start with the hotels at http://2015.djangocon.eu/welcome/accommodation/.

[2016-04-26 15:52] inglesp opened #67 "Set up email address for contacting suppliers etc"
@evildmp has suggested that we use a email address for contacting suppliers etc.  This sounds like a good idea!

[2016-04-26 15:53] inglesp commented on #67
@ghickman, could you try to set up pyconuk@gmail.com?

[2016-04-26 15:54] ghickman commented on #67
@inglesp – sure thing, when do you need it by?

[2016-04-26 15:54] inglesp commented on #67
End of the week?

[2016-04-26 15:57] inglesp opened #68 "Add accommodation information on website"
To be done once hotels have been contacted.  See https://github.com/PyconUK/pyconuk-2016-internaldocs/issues/66.

[2016-04-26 16:31] ghickman commented on #67
Sure thing.

[2016-04-26 16:32] zeth commented on #63
Are we ready to kill the 2014 wiki? I don't seem to find anything unique yet still relevant on there.

[2016-04-26 16:34] zeth commented on #63
Low priority but perhaps someone could make a section of the website with historic schedules or something and copy the 2014 schedule to github?
http://pyconuk.net/Schedule

I think that is about the only thing worth saving?

[2016-04-26 16:36] zeth commented on #63
I can move the .net domain into the new 123-reg account for consistency. We may have others.

Also we never got around to buying pycon.uk which is the shortest possible version.

[2016-04-26 17:03] ghickman commented on #63
@zeth – there are two parts to the 2014 site:
- 2014.pyconuk.org redirects to a server you have control of but none of the menu links are actually links
- 2014's wiki exists at pyconuk.net.

If you can easily export both of those to single HTML files then I'll get a 2014.pyconuk.org repo up and running and flip the DNS to that. Then we can enable `schedule` as a link on old homepage and away we go

[2016-04-26 22:39] zeth opened #69 "Investigate some kind of microcontroller to give to delegates"
Where did we get the debug duck from? Can we get a debug dragon?

[2016-04-27 09:38] hawkz commented on #69
Is came from the merch company we used most years. We could ask if they have alternative models. My only hesitation is that historic delegates then have 2...?

[2016-04-27 09:46] hawkz commented on #69
Personally I think giving everyone a pi-zero would be much better, and then run a competition for the pi based innovation during the conference or something.

[2016-04-27 09:48] ghickman commented on #69
+1 to less tat in the swag bags, a pi-zero with a _purpose_ gets a huge thumbs up from me!

[2016-04-27 13:39] zeth commented on #69
That would be great. Another idea would be a esp8266 device, which I think is the or one of the primary target devices for MicroPython?

[2016-04-27 15:57] ghickman commented on #69
Yep, there's even a kickstarter funding the development currently!

[2016-04-28 20:13] inglesp opened #71 "Produce outline of programme"
People are already asking about what's going to be happening on each day.  We need to set expectations appropriately, particularly with regard to the Thursday and Monday.

@EvilDMP, with your programme hat on, could you make a PR to add this to the front page?

[2016-04-29 14:56] inglesp commented on #66
Assigning this to @evildmp as he's already started doing it.

[2016-04-29 18:41] evildmp commented on #66
Pull request waiting for review. https://github.com/PyconUK/2016.pyconuk.org/pull/64

[2016-04-29 18:41] #66 closed, assigned to evildmp

[2016-04-29 18:41] evildmp commented on #71
https://github.com/PyconUK/2016.pyconuk.org/pull/64

[2016-04-29 18:41] #71 closed, assigned to evildmp

[2016-04-29 19:05] snim2 commented on #66
FYI If you say "Fixes <URL>" on the "conversation" of a PR, the Issue will be closed automatically when the PR is merged. This works even if the Issue is in a different repo to the PR. No need to close issues manually!

[2016-04-29 19:42] evildmp commented on #67
Not just suppliers, but speakers, complainants, the press, etc.

[2016-05-02 10:01] inglesp opened #75 "Find more places to promote the conference"
So far, we've promoted the conference via the python-uk and pyconuk mailing lists, and on Twitter.

Where else should we be promoting?

Please add suggestions, via pull request, to [this page](https://pyconuk-2016-internaldocs.readthedocs.io/en/latest/publicity/)

[2016-05-02 10:01] inglesp opened #76 "Make and publicise plans for childrens' day"

[2016-05-02 10:02] inglesp opened #77 "Make and publicise plans for Trans*Code"

[2016-05-02 10:02] inglesp opened #78 "Make plans for Django Girls"
Tasks for PyCon UK committee:
- [ ] Earmark room(s) for workshop
- [ ] Ensure room is adequately equipped with tables of four, power sockets, and a projector
- [x] Link to application form from website
- [ ] Provide booth space for Django Girls
- [ ] Publicise workshop in Cardiff area
- [ ] Help find coaches

[2016-05-02 10:02] inglesp opened #79 "Make plans for evening events"

[2016-05-02 10:02] inglesp opened #80 "Find a creche provider"

[2016-05-02 10:02] inglesp opened #81 "Book stenographers"

[2016-05-02 10:02] inglesp opened #82 "Give catering numbers to venue"

[2016-05-02 10:25] evildmp commented on #67
@ghickman hello, sorry to be a nuisance, could we have this set up? It would be most useful.

[2016-05-02 11:04] ghickman commented on #67
@evildmp – not a nuisance at all! I'm already on it, currently trying to track down who has pyconuk@gmail.com already registered, stay tuned.  If I don't get a response by tomorrow I'll set something else up.

[2016-05-03 08:14] snim2 opened #83 "Write template email to advertise Code4Research"
For sending out as-is to departments, and specialising for individuals that we know.

[2016-05-03 09:31] inglesp opened #84 "Add "Supporter Ticket" type to ti.to"
We've promised we'd do this on the [diversity/accessibility/inclusion](http://2016.pyconuk.org/diversity-accessibility-inclusion/) page.

[2016-05-03 10:01] inglesp opened #85 "Set up system to allow people to buy tickets without paying through Tito"
@drvinceknight asked: "I have 3 undergrads here that the University is going to pay for tickets for. Would it be possible to put 3 tickets together on Tito for them and invoice my School? Any other preferred way of doing this?"

There are two parts to this:
- [ ] Put together workflow for tracking status of invoices.  @doismellburning is the person to do this.
- [x] Work out how to create "secret

[2016-05-03 10:09] inglesp commented on #84
We can make this ticket a "donation" type ticket, where people choose how much to contribute.

@doismellburning, wearing your your legal/treasurer hat, do you see any problems with this?

As for the ticket description, how about something like:

"Include a donation to help buy a ticket on behalf of an attendee who couldn’t otherwise afford it"

@evildmp, does this match your expectations?

[2016-05-03 10:12] evildmp commented on #84
How about: "Every penny we receive will go be added to our existing budget for financial assistance, to support the attendance of someone who'd otherwise find it hard to afford."

But yes, that kind of thing.

[2016-05-03 11:44] doismellburning commented on #84
Assuming we're talking "choose > existing ticket price" SGTM!

[2016-05-03 13:06] drvinceknight commented on #85
One way: we create a separate type of ticket for each <ticket-type> called: secret-<ticket-type>. That should allow them to be tracked easily enough?

[2016-05-03 15:02] helenst commented on #78
Super excited that Django Girls is going to be happening at PyCon UK again this year - we really appreciate the efforts that are being made to improve diversity and make it a friendly and accessible conference for everybody! :sparkles: Here are a few initial thoughts and questions, I'm sure there will be more later on but hopefully this can get things going:

## Date / Time

Can we confirm this wi

[2016-05-04 09:30] inglesp commented on #84
@evildmp, that's a little too long for the Tito form, so I think I'll stick with my original phrasing.

@doismellburning, I wasn't clear, sorry.  I'm actually proposing using an extra ticket type for the supporter ticket, as it decouples the process of buying a ticket for yourself from the process of contributing to financial assistance.  Happy with that?

[2016-05-04 10:38] inglesp commented on #78
Hi @helenst, thanks for all of this!  I've answered your questions below.

#### Date / Time

The workshop will be all day on Thursday 15th.

#### Tickets

Given the problems we had finding coaches last year, I'd like to limit attendance to 30 again this year, and make sure we get this right.

We haven't budgeted for giving a conference ticket to every attendee.  Do you know how many attendees took

[2016-05-04 10:39] inglesp commented on #78
Some questions for you...

#### Timetable

When would you like to close applications?  When would you like to inform applicants whether they've been successful?  Would you be able to work with the financial aid deadline (June 28th, see above) or would you like to work separately to that?

#### Other costs

Are there other costs, apart from food and room hire, that we need to be aware of?

#### Any

[2016-05-04 10:39] inglesp commented on #78
I've created some tasks for the conference committee in the description for this issue.  Let me know if there's anything you think I've missed off.

[2016-05-04 16:58] inglesp opened #87 "Add notes to website about resources for people of faith"
This follows a discussion on the mailing list.

Assigning to @Lukasa who brought up the issue originally.

[2016-05-04 17:36] doismellburning commented on #84
@inglesp Sorry for my ambiguity too - as long as we're talking "more revenue than I initially planned" it SGTM!

[2016-05-04 18:35] #87 closed, assigned to Lukasa

[2016-05-04 19:12] inglesp commented on #87
On https://github.com/PyconUK/2016.pyconuk.org/pull/74, @Lukasa said "This doesn't address the question of a prayer room, which is as-yet unresolved".

Now this is closed, do we need a new issue for that?

[2016-05-04 19:20] Lukasa commented on #87
Probably, or we can re-open this.

[2016-05-04 19:40] meshy commented on #87
Sorry -- I guess I got a little overenthusiastic and jumped the gun a little there `:/`

[2016-05-04 19:43] Lukasa commented on #87
@meshy Nah, GitHub closed this for you. That's my bad for the wording I used in the other issue.

[2016-05-04 19:45] meshy commented on #87
Cool. :+1:

[2016-05-04 20:22] helenst commented on #78
@inglesp Thank you for your responses!

## Tickets / financial aid

30 is a good number and we are happy to go with that.

Last year we had 30 tickets for Django Girls, and they were all used. If things are different this year, that's fine. I do think getting some good sponsorship behind this will be important as we're mostly dealing with people who are taking their first steps towards something n

[2016-05-05 06:43] MissMaximas opened #88 "Make Plans to Support a Charity"
It would be brilliant if we could support a charity within PyCon

_With Chloe_: Short presentation to get a poll on which charity to support next year
_Charities in list for poll so far: [BlackGirlsTech](https://slack-redir.net/link?url=http%3A%2F%2Fwww.meetup.com%2Fblackgirl-tech-Meetup%2F), [Myton Hospice](http://www.mytonhospice.org/), Cancer Research_

John Pinner Memorial Fund
This year, supp

[2016-05-05 09:51] inglesp commented on #84
This is done.

[2016-05-05 09:51] #84 closed, assigned to nobody

[2016-05-05 09:55] inglesp opened #89 "Make arrangements for sponsors etc to get stuff delivered to venue"
The Django Girls team have asked whether they can get t-shirts, posters, etc delivered to the venue.  Sponsors will want to do the same.

[2016-05-05 10:00] inglesp commented on #78
- I've removed the mention of free tickets from the website (welp, well spotted!) for now, but I'll start an email conversation with @helenst and @lifeisstillgood about finding a sponsor for Django Girls.
- I've created #89 to track making arrangements for delivering packages to the venue.
- I've updated the task list at the top of this page to just link to the Django Girls website.
- If you'd lik

[2016-05-05 14:29] ghickman commented on #67
@evildmp – we now have `pyconukorganisers@gmail.com`, I'll send you the password privately.

[2016-05-05 14:29] #67 closed, assigned to ghickman

[2016-05-06 06:49] helenst commented on #78
Django Girls PyCon UK 2016 site: https://djangogirls.org/pyconuk2016/
Application form: https://djangogirls.org/pyconuk2016/apply/

The applications are open... we haven't publicised anything yet but I'll be getting on that today :)

[2016-05-06 10:28] inglesp commented on #78
Hi @helenst, that all looks super.

Can I request one small change?  You describe PyCon UK as a "big IT conference".  Could you change that to a "big conference for programmers"?  I'd like to think that we're about more than IT.

[2016-05-06 10:34] helenst commented on #78
Thanks Peter! I've made that change, thanks for pointing it out :)

[2016-05-06 10:41] inglesp commented on #62
Having discussed this with Carrie Anne and Nicholas, we'll do something similar to last year.
- We'll collect bursary applications via a separate ticket type on Tito, collecting information on:
  - name of school
  - address of school
  - number of students they teach
  - level: primary, middle, secondary, post-16
  - level of Python experience: none, some, a lot, tons
- We'll need to make it clea

[2016-05-06 17:16] evildmp commented on #81
@inglesp @doismellburning I've been speaking with them, need to speak with Kristian to agree on how much we can afford which means how many of them, and for which days.

Also really they are stenographers; steganographers are the ones who write concealed messages.

[2016-05-06 20:12] inglesp commented on #81
Of course they are!

[2016-05-06 23:02] doismellburning commented on #62
What _is_ a bursary in concrete terms? £200 cash? I have 15k in a general bursary/FinAid pot with 10k earmarked for bursaries based on last year

(Did you see chat in #education?)

[2016-05-09 09:05] doismellburning commented on #62
..yes you did see chat in #education because you pasted a link here in there!

[2016-05-11 08:45] helenst commented on #78
@inglesp Aside from sponsorship, our big priority is to get people applying as soon as possible! What's the best way to get the ball rolling for promoting this locally? We can provide promotional copy, poster designs etc.

[2016-05-11 14:22] helenst commented on #78
I can't tick it myself, but "linking to application form from website" is done (https://github.com/PyconUK/2016.pyconuk.org/pull/85)

[2016-05-11 14:36] ghickman opened #90 "Get us set up with a non-profit GH org"
As per https://github.com/nonprofit

[2016-05-12 07:37] snim2 commented on #88
I think the hospice is the [Myton Hospice](http://www.mytonhospice.org/), [Marie Curie nurses](https://www.mariecurie.org.uk) are a different charity.

[2016-05-12 07:45] MissMaximas commented on #88
_With Chloe_: Contact charity to see if they have promotional stuff we can use, and invite them down for a day

[2016-05-12 09:12] inglesp opened #92 "Put together skeleton schedule"
To help with all sorts of aspects of planning, we need a skeleton schedule.  At first, this should go into the internal docs repo, until we're ready to share this on the website.  I expect there'll be a little bit of back and forth between the committee about this, and I don't want us to commit to anything before we're happy we've not missed anything out.

This should take the form of a rough outl

[2016-05-12 11:16] inglesp commented on #85
Tito allows us to add delegates manually, so we should do that.  That will mean that we can easily see everybody who's got a particular ticket type.

@drvinceknight: Can you send me a list of names and email addresses for your students, and can you ask @doismellburning to raise the appropriate invoice?

[2016-05-12 11:19] drvinceknight commented on #85
Have popped them to you via slack.

[2016-05-12 12:37] inglesp opened #95 "There's no option for proposing a sprint in the CFP"
From a Slack channel I belong to:

"BTW: Page 1 (http://2016.pyconuk.org/code-day/) "tell us about your sprint “ links to Page 2 (http://2016.pyconuk.org/cfp/) which doesn’t mention that or have any particular way for me to tell you about my sprint.

I don’t even have a sprint at the moment, so it’s not that important.

But If I did, I would definitely be confused."

[2016-05-12 12:44] inglesp commented on #78
@drvinceknight and @evildmp are the best people to talk to about promoting in the Cardiff area.  Can you discuss this between you?

[2016-05-12 13:40] helenst commented on #78
Hi @drvinceknight and @evildmp - I hope you are both well :) We're very keen to start promoting this to potential participants as soon as possible as we'd like to get all our applications in by June 24th.

We're especially looking to promote to:
- students at Cardiff and Cardiff Metropolitan Universities, and any tech colleges.
- Womens' groups - either tech focused or targeted at entrepreneurs, d

[2016-05-12 17:13] evildmp commented on #95
"Something completely different" doesn't cover all options not listed?

[2016-05-12 17:18] inglesp commented on #95
Can see what you mean (see also [These two books contain the sum total of all human knowledge](http://imgur.com/gallery/oEXYFZw)) but it's confused at least one person, and I think if we're asking for people to submit sprints, we should make it as easy as possible for them.

I'll leave it to you to decide whether to update the CFP or close this issue.

[2016-05-13 08:45] drvinceknight commented on #78
Hi @helenst , apologies for the late reply. I'll pass this around the Cardiff University mailing lists. I know someone at Cardiff Met who would be able to do the same and also University of South Wales.

[2016-05-13 08:57] helenst commented on #78
Thanks @drvinceknight! :sunglasses:

[2016-05-15 13:33] evildmp commented on #95
I'll do it!

[2016-05-15 13:56] inglesp commented on #68
This is done.  Thanks @evildmp!

[2016-05-15 13:56] #68 closed, assigned to nobody

[2016-05-15 17:23] evildmp commented on #95
Done.

[2016-05-15 17:23] #95 closed, assigned to evildmp

[2016-05-15 17:28] evildmp commented on #92
Done

[2016-05-15 17:31] evildmp commented on #81
Waiting for a formal quote from them, for two STTRs, Thursday-Sunday.

[2016-05-16 09:13] inglesp opened #96 "Decide whether to give away t-shirts, or sell them as extras"
Other conferences (eg PyCon and Djangocon in the US) sell conference t-shirts rather than giving them away.  Any money raised is used for supporting a good cause.

Arguments for giving them away:
- We've always done it, and people may expect it

Arguments for selling them:
- They're quite an expensive per-person cost
- They're a pain to manage
- Many people never wear their t-shirts

If anybody ha

[2016-05-16 09:32] ghickman commented on #96
I'm all for selling them, delegates are free to buy them if they want and we don't end up wasting money and more importantly time on unused extras.

Any t-shirts sold would ideally be sold as "buy a t-shirt and help PyCon UK" much as PyCon US sells them expressly to help the PSF.

[2016-05-16 12:48] MissMaximas commented on #88
I’ve been in contact with Hannah Paulie from Myton Hospice in regards to promotional material, and having a representative at PyConUK this year. We’re going to have a chat in person at some point (we’ve not set a time yet).
I was wondering which day would be best for a representative(s) to come down (and would they have to purchase a ticket)? I was thinking on the Saturday would be best.
In regard

[2016-05-16 12:58] MissMaximas commented on #96
I agree with selling them. If people are expecting the t-shirts to be free, I think we could safely assume that they've been to at least one of the previous PyConUK conferences and have decided to attend again because they enjoyed the conference itself (And may also already have a t-shirt).

What would happen with the money raised by this?

[2016-05-16 21:23] inglesp commented on #92
Reopening since this is still being discussed.

[2016-05-16 21:31] inglesp commented on #88
Hi @MissMaximas, thanks for following this up.

The Saturday would be the best day for them to come, since that's when the conference dinner is likely to be.

We could certainly stretch to a ticket for their representative!  We could also give them a booth in the Marble Hall along with the sponsors, in which case they'd need banners.

[2016-05-23 13:31] inglesp opened #97 "Clarify the purpose of the Thursday"
I'm still not sure who the intended audience is for the Thursday -- http://2016.pyconuk.org/introduction/ says it's for beginners and non-beginners, but if so I'm not sure why we're marketing it as an introductory day.  I've had a couple of people ask me whether they should plan to attend it or not (or in one case, should they send their team or not) and I've not been sure how to respond.

There a

[2016-05-23 13:45] inglesp opened #98 "Publicise bursaries for teachers' day"
We have 40 bursaries for teachers to attend the conference.  We should be publicising them!

I'll ask Carrie Anne to email all the teachers who came last year.

Where else could we publicise this?

[2016-05-23 14:47] inglesp opened #99 "Ensure timings of teachers' day track fits in with rest of schedule"
Carrie Anne and @evildmp should have a chat about this.

[2016-05-23 15:36] MissPhilbin commented on #76
Current ideas for both teachers and children's day can be found [here](https://docs.google.com/a/codeclub.org.uk/document/d/1ApwuvrEDOvL4rpPjU1Z2rZ6Z0DvuivZnlghiOhESEfw/edit?usp=sharing). Please request access if you need it.

[2016-05-23 15:38] MissPhilbin commented on #99
An overview of timings for the day would be useful for scheduling the teachers track. e.g. when is lunch ;)

[2016-05-23 15:40] MissPhilbin commented on #98
I can put something out in the RPF education newsletter as we do every year. I'd also suggest someone contacts CAS Wales to use their mailing list. I think Tom Crick heads up CAS Wales.

Deadline for CAS newsletter switched on is 10th June if you have 250 words about it that could go in. The contact is Roger Davies. I'm swamped with back to back events right now but am happy to pass anything on to

[2016-05-23 22:04] inglesp opened #100 "Apply to PSF for grant"

[2016-05-23 22:16] inglesp commented on #100
@evildmp is going to draft the application, given his experience with making similar applications for other conferences.

[2016-05-24 09:37] MissMaximas commented on #88
After a discussion, they will not be able to personally attend the event. I'll still look into getting banners from them

[2016-06-01 15:44] inglesp opened #102 "Find out about A/V provision in education track rooms"
@MissPhilbin wants to know what we've got in the way of projectors in the rooms that the education track will be in.

[2016-06-01 15:44] inglesp opened #103 "Find out what we have in the way of 4-way adaptors"
This is of particular interest for @MissPhilbin and the education track.

[2016-06-01 16:02] inglesp opened #104 "Create news section on website"

[2016-06-01 16:38] inglesp opened #105 "Create system to allow people to upgrade their ticket"
Somebody contacted pyconuk-encquiries@ today, asking for their 3-day ticket to be upgraded to a 4-day one.

The options are:
- cancel their old ticket and get them to buy a new one;
- create a range of hidden tickets for each possible upgrade type (eg "Self-funded 1-day to 3-day upgrade);
- create a single hidden ticket with a variable price field, and get people to work out how much they need to

[2016-06-02 16:39] inglesp commented on #105
Once I've dealt with the first such request, I'll write up some instructions for how to upgrade a ticket, so that other people can do this in future.

[2016-06-08 08:02] doismellburning commented on #96
Has anyone thought much about the logistics of selling them?
- How many do we want to order / do we expect to sell?
- What do we price them at?
- What do we do with left-over inventory (I've no idea what we've done previously, but "give them away enthusiastically" may not be appropriate for stuff we're selling)

[2016-06-08 08:10] inglesp commented on #96
Rather than buying up inventory in advance (with the problem of what to do if we over/under-provision) we should find a website that sells t-shirts, and direct people to that.

This is what DjangoCon US have done.  See [here](https://2015.djangocon.us/blog/2015/09/05/conference-t-shirt/) for more details.  They used Teespring and Fabrily, and it looks like they were selling t-shirts for around £15

[2016-06-08 08:31] doismellburning commented on #96
...that is infinitely more sensible, yes, good call!

[2016-06-08 08:32] doismellburning commented on #96
(Sorry, was stuck in "getting t-shirts printed" thought-mode)

[2016-06-08 11:30] inglesp commented on #105
This is done.

[2016-06-08 11:30] #105 closed, assigned to nobody

[2016-06-08 17:07] inglesp opened #107 "Make plan for A/V and filming of sessions"
We need to arrange A/V provision for some of the rooms.  By "A/V", we mean sound amplification and video projection.

We should also try to film as many sessions as we can, so that we can make videos available after the conference.

We need to answer the following questions:
- Which sessions need A/V support?
- Which sessions need to be filmed?
- Can we live-stream any sessions?
- What equipment d

[2016-06-08 17:20] inglesp opened #108 "Create reminder system for meetings calendar"

[2016-06-09 16:27] inglesp commented on #98
I've emailed everybody who came to the day for teachers last year, and I've written something for the CAS newsletter which I've sent to @MissPhilbin.

[2016-06-09 16:32] inglesp commented on #98
@drvinceknight mentioned that the University might have some links with local schools.  What's the best way to follow this up?

[2016-06-12 10:19] inglesp commented on #108
This is done.  See https://gist.github.com/inglesp/47682127462c326d367c824ff57a8d33.

[2016-06-12 10:19] #108 closed, assigned to nobody

[2016-06-12 10:19] inglesp opened #110 "Put together page on website for Trans*Code"

[2016-06-13 13:41] inglesp commented on #76
I'm writing up a page for the website now.

Some questions:
- What're we charging for tickets?  Is £10/child too much?  Last year they were £5/child but lots of people didn't turn up.
- What age range are we going to be able to cater for?
- How much of the Google document is confirmed?

[2016-06-13 13:49] MissPhilbin commented on #76
- I think £5 is a good amount, anymore and we risk alienating lower income families.
- We should be able to cater for 8 to 18 year olds on the children's day. Groups to be accompanied by an adult at all times.
- None of the children's day content is confirmed. Until we understand what equipment we have access to then we can not specify the max capacity of the workshops or even what content we can

[2016-06-13 13:52] inglesp commented on #76
OK!

Regarding pi-top, I know that @evildmp has been talking to Chantal there.  Have you been involved in this conversation?

[2016-06-13 13:57] MissPhilbin commented on #76
No I did not. RPF has good links with Jessie and they've helped us out at events before. @evildmp let me know if you rather we did not start another conversation with them.

[2016-06-13 15:23] inglesp opened #111 "Confirm booking of Cardiff University for Thursday"
@drvinceknight, can you let us know when the room bookings for the Thursday are confirmed?

Even better would be to update https://pyconuk-2016-internaldocs.readthedocs.io/en/latest/venue/, but I can do that.

[2016-06-13 15:28] inglesp commented on #42
This is done.

[2016-06-13 15:28] #42 closed, assigned to lifeisstillgood

[2016-06-13 15:28] inglesp commented on #43
This is done (see https://pyconuk-2016-internaldocs.readthedocs.io/en/latest/sponsorship/#invoicing).

[2016-06-13 15:28] #43 closed, assigned to doismellburning

[2016-06-13 15:29] inglesp commented on #49
Dupe of #43.

[2016-06-13 15:29] #49 closed, assigned to doismellburning

[2016-06-13 15:33] inglesp opened #112 "Set up system for teachers to claim bursaries"
As last year, we're paying out bursaries to teachers after the conference.

For this to happen, we need:
- [ ] A form that teachers can give to their school's bursar to complete
- [ ] Somebody to process the form and pay out the bursary

[2016-06-13 15:33] inglesp commented on #62
This is done.  #112 covers the claiming of bursaries.

[2016-06-13 15:33] #62 closed, assigned to nobody

[2016-06-13 17:01] drvinceknight commented on #111
Will do :+1: :)

On Mon, Jun 13, 2016 at 4:23 PM Peter Inglesby notifications@github.com
wrote:

[2016-06-13 17:44] doismellburning commented on #76
From my perspective, the accessibility argument trumps everything; I'm happy with low, it looks like it'll cover what's necessary, and if not it won't be by much and that's something worth spending on.

(I do like the idea of charging more to discourage silent dropouts, but not at the cost of alienation)

[2016-06-13 19:22] doismellburning commented on #96
Alright. Who owns this? Is it going to be @inglesp by default again? ;P

[2016-06-13 19:27] doismellburning commented on #96
I'm willing to own this unless anyone else is keen

(I'm going to regret that aren't I)

[2016-06-14 08:06] doismellburning commented on #85
@drvinceknight Just following up on this - if there's someone I should be invoicing, could you let me know please!

[2016-06-14 08:11] drvinceknight commented on #85
Thanks for the ping on this. I will try and get this sorted over next
couple of days.

On Tue, Jun 14, 2016 at 9:06 AM Kristian Glass notifications@github.com
wrote:

[2016-06-14 08:19] doismellburning commented on #85
Oh phew, I was expecting you to tell me I'd forgotten about something - please don't rush on my behalf!

[2016-06-14 09:11] inglesp opened #113 "Rebrand Thursday as "Open Day""

[2016-06-14 09:11] inglesp opened #114 "Create "Free Open Day" ticket"

[2016-06-14 09:12] inglesp opened #115 "Create "Open Day" activity on conference tickets"
This will allow us to get an idea of the numbers of people who're coming to the Open Day.

[2016-06-14 09:13] inglesp opened #116 "Confirm catering for Thursday"
@drvinceknight, are you the person to do this?

Can you get per-head catering costs to @doismellburning as soon as you can?

[2016-06-14 09:51] drvinceknight commented on #116
Are you ok to make first contact on this one @evildmp ?

[2016-06-15 18:47] drvinceknight commented on #111
Here are the rooms we have booked:
- Main lecture hall (for the main talks, capacity: 170): http://www.cardiff.ac.uk/estat/roombookings/cathays/bute/161bute/index.html

Other booked rooms:
- 053, capacity: 82 http://www.cardiff.ac.uk/estat/roombookings/cathays/bute/053bute/index.html
- 140, capacity: 72 http://www.cardiff.ac.uk/estat/roombookings/cathays/bute/140bute/index.html
- 150, capacity: 72

[2016-06-16 09:56] inglesp commented on #96
Thanks @doismellburning!  I'm sure you'll do a great job...

Perhaps you could open some new issues to track what needs doing here.  (This issue's all about deciding whether to give t-shirts away or not.)

[2016-06-16 10:02] doismellburning commented on #96
Will do, cheers

[2016-06-16 10:02] #96 closed, assigned to nobody

[2016-06-16 10:03] doismellburning commented on #96
**Conclusion**: No, we're selling via some sort of on-demand service, I'm on it

[2016-06-16 15:23] #111 closed, assigned to drvinceknight

[2016-06-21 07:49] MissPhilbin commented on #99
Any progress on this? @evildmp @inglesp

I need similar for the kids day to put together the agenda.

[2016-06-22 17:47] drvinceknight commented on #85
Have sent you info on slack. Let me know if you don't get it :)

[2016-06-27 11:27] doismellburning commented on #85
Invoice created and sent, lmk if there's any problems etc.!

[2016-06-27 11:29] doismellburning commented on #85
@inglesp What're you actually looking for here?

[2016-06-27 18:32] inglesp commented on #85
@doismellburning, we need to know which of the tickets in Tito we've invoiced for, and which we haven't.

Perhaps you could add "invoiced" and "paid" as tags to relevant attendees in Tito?

[2016-07-04 18:46] inglesp commented on #115
Done.

[2016-07-04 18:46] #115 closed, assigned to nobody

[2016-07-04 18:47] inglesp commented on #114
Done.

[2016-07-04 18:47] #114 closed, assigned to nobody

[2016-07-04 18:47] inglesp commented on #113
Done.

[2016-07-04 18:47] #113 closed, assigned to nobody

[2016-07-04 18:47] inglesp commented on #110
Done.

[2016-07-04 18:47] #110 closed, assigned to nobody

[2016-07-04 18:47] inglesp commented on #104
Done.

[2016-07-04 18:47] #104 closed, assigned to nobody

[2016-07-04 18:47] inglesp commented on #97
Done.

[2016-07-04 18:47] #97 closed, assigned to evildmp

[2016-07-04 18:49] inglesp commented on #83
Hi @snim2 -- how's the Code4Research publicity going?

[2016-07-04 20:41] evildmp commented on #99
Yes, this is all in the skeleton schedule! I will ping you on Slack and we can talk about it.

[2016-07-04 20:41] #99 closed, assigned to evildmp

[2016-07-11 09:15] doismellburning commented on #42
@inglesp / @lifeisstillgood Do either of you have a link to this perchance please?

[2016-07-11 09:17] inglesp commented on #42
@doismellburning It's in the shared Google folder, but I'll send you the link on Slack.

[2016-07-11 14:00] lifeisstillgood commented on #42
Sorry late catching up on emails.  If by some strange alien abduction event peter did not post it please shout again

## Yours

Paul Brian
paul@mikadosoftware.com
07540456115
@lifeisstillgood

##

www.mikadosoftware.com

See your software improve with every change.

[2016-09-26 10:15] hawkz commented on #25
This didn't match the signage / lanyard request. Is this to close now? @inglesp

[2016-09-27 15:21] inglesp commented on #25
I think we can consider this closable :)

[2016-09-27 15:21] #25 closed, assigned to hawkz

[2017-10-23 17:47] lukestanley commented on #107
There is a Slack channel for anybody who is or wants to get involved with the video work at the conference.

There's a public helpers list here:
https://docs.google.com/spreadsheets/d/1NGKDhc1ukLnsOESx5H3NeSMlc5_q6ZlskjIehjdbSmA/edit?usp=sharing .
If you can help, please sign up by adding yourself to the spreadsheet and indicating when you can help or contacting @Tim W.

The rota which shows what